@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
  color: white;
}

#mainel {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  padding-top: 150px;
}

#mainel p {
  max-width: fit-content;
}

#loginBox {
  display: flex;
  flex-direction: column;
  border: white;
  border-radius: 1rem;
}
